body {
  font-family: Sans-Serif;
}

header a {
  font-size: 36px;
  text-decoration: none;
  color: slateblue;
}

.pet {
  background-color: lightgreen;
  display: flex;
  margin: 5px;
  text-decoration: none;
}

.imageContainer {
  border-radius: 50%;
  margin: 20px;
  padding: 5px;
  background-color: red;
}

.pet img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: lightyellow;
}

.search {
  padding: 10px;
}

.details {
  background-color: aliceblue;
  padding: 14px;
  text-align: center;
}

.details p {
  background-color: lightgreen;
  border-radius: 5px;
  padding: 10px;
}

.carousel {
  border: 1px solid blue;
  border-radius: 3px;
  display: flex;
}

.carousel img {
  width: 320px;
  height: 320px;
  padding: 20px;
}

.carousel-smaller img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px;
}

.search-box form {
  background-color: lightblue;
  border-radius: 6px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.search-box input[type="text"],
.search-box select {
  width: 300px;
  font-size: 16px;
  margin-left: 10px;
  margin-bottom: 12px;
}

.search-box input[type="button"] {
  width: 250px;
  background-color: lightgreen;
  align-self: center;
}
