body {
  background-color: lightblue;
}

header {
  font-size: 32px;
  text-decoration: none;
}

.pet {
  background-color: lightgreen;
  display: flex;
  margin: 5px;
  text-decoration: none;
}

.imageContainer {
  border-radius: 50%;
  margin: 20px;
  padding: 5px;
  background-color: red;
}

img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: lightyellow;
}

.search {
  background-color: aliceblue;
  padding: 10px;
}
