body {
  background-color: lightblue;
}

.pet {
  background-color: lightgreen;
  display: flex;
  margin: 5px;
}

.imageContainer {
  border-radius: 50%;
  margin: 20px;
  padding: 5px;
  background-color: red;
}

img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: lightyellow;
}
